/* src/styles/fonts.css */
@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-Black.ttf") format("truetype");
  font-weight: 900; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "M PLUS 1p";
  src: url("/fonts/MPLUS1p-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

