@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Letter 올라오는 애니메이션*/
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUpFadeIn {
  animation: slideUpFadeIn 0.6s ease-out forwards;
}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.3s ease-out forwards;
}

